PORT=5000
NODE_ENV=development

# Postgres Database
DATABASE_URL=your_postgresql_url_here

# Redis Configuration
REDIS_URL=your_redis_url_here

# Currency Settings
CURRENCY=SSP

# Africa's Talking Credentials
AT_USERNAME=sandbox
AT_API_KEY=your_africastalking_api_key_here